<template>
<div class="col-12">
    <ul class="todo-list">
        <li v-for="(item,key) in tasks" v-bind:key="key" class="todo-item">
            {{item}}{{key}}
        </li>
    </ul>
</div>
</template>
<script>
export default {
  name: 'TodoList',
  data() {
    return {
      tasks: this.$parent.tasks,
    };
  },
};
</script>
<style>

</style>
