<template>
  <div id="app">
    <div class="container">
    <Input/>
    <TodoList/>
    </div>
  </div>
</template>

<script>
import Input from './components/Input';
import TodoList from './components/TodoList';

export default {
  name: 'App',
  components: {
    Input,
    TodoList,
  },
  data() {
    return {
      tasks: [],
    };
  },
};
</script>

<style>
</style>
